.header {
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: rgba(241, 241, 241, 0.80);
  padding: 20px;
  margin-top: auto;
  /* width: 50%;  */
  /* margin-left: auto;*/ 
  display: flex;
}
.header-text{
  text-align:center;
  justify-content:center ;
  color: #000000;
}
.header-image {
  width: 300px; 
  margin-right: 20px; 
}


.header-content {

}
.description {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  color: #000000;
  
}

body {

  background-image: url(./images/forest.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  position: relative;
  background-image: url(./images/hazelwood.jpg);
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 80%;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list a {
  color: rgb(214, 11, 11);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Shrikhand';
}

.nav-link.active {
  /* Add the styles for the active link here */
  color: #159226; /* Set the color for the active link */
}

.nav-list li:hover {
  color: #4f4d59; /* Set the color for the hover effect */
}

.myPicture {
  position: absolute;
  top: auto;
  left: auto;
  width: auto;
  height: 200px;
  padding: 100px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  object-fit: contain;
}
.myPicture.fade {
  opacity: 0;
  
}
.footer-bar {
  background-color: #1e1a6a;
  padding: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-content {
  color: #159224;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  margin: 0;
}

.icons-container {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

.contact-content {
  color: #fffb00;
}

@media (max-width: 768px) {
  .description {
    font-size: 1.5rem; /* decrease font size for smaller screens */
  }
}

@media (max-width: 576px) {
  .description {
    font-size: 1rem; /* further decrease font size for smaller screens */
  }
}
